@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');

header {
    background-color: #008F60;
}

body {
    background-color: #E8F6F0;
    font-size: 18px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #E0674F;
    text-align: center; 
    font-size: 60px;
    text-transform: uppercase;
    margin: 0;
    padding: 70px;
    animation: fadeIn; 
    animation-duration: 2s; 
}

h2, p, table, ul {
    margin-left: 10px;
}

h2 {
    color: #9990DA;
    text-transform: uppercase;
}

a:link {
    color: #004094;
}

a:hover {
    background-color: #EFCCE7; 
} 
/* No logré que el color de la letra cambie, así que puse que cambie el color de fondo */

a:visited {
    color: #5B0094;
}

a:active {
    color: whitesmoke;
}

table {
    border-collapse: collapse;
}

th {
    color: #9E1F4F;
    background-color: #9990DA;
}

table,th,td {
    border: 3px #37997C solid;
}

footer {
    background-color: #008F60;
    color: #991501;
    font-size: 15px;
    padding: 20px;
}